{% extends 'base.html.twig' %}

{% block title %}TheBlog - Profil{% endblock %}

{% block style %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}">
{% endblock %}

{% block js %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container-fluid profil">
        <div class="card-group">
            <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header">Vos Informations</div>
                <div class="card-body">
                    <h5 class="card-title">Login/Mot de Passe</h5>
                    <p class="card-text">
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
